{% extends "base.html" %} 
{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h1>Привет, я автор</h1>
  <p>
    Меня зовут Ирина и я бухгалтер. Около трех лет назад я увлеклась 
    программированием. Этот проект для меня первый. Меня вдохновляет как 
    постепенно вырисовывается что-то похожее на социальную сеть. А еще мне 
    нравится получать новые знания и искать решения сложных для меня задач. 
    Надеюсь, со временем этот проект будет становится все лучше и лучше.
  </p>
  <p>
    Мне очень помогает моя кошка Кнопа. Она немного дикая, но уже прекрасно 
    освоилась с компьютером. Особенно ей нравится лежать на клавиатуре.
  </p>
  <p>
    <a href="https://github.com/iricshkin"> Мой репозиторий на Github</a>
  </p>
  <p>
    <a href="https://www.facebook.com/irina.fok.3/"> Профиль на Фейсбук</a>
  </p>
{% endblock %}
