{% extends "base.html" %}
{% block title %}
<title> {{ title }} </title>
{% endblock %}
{% block content %}
<div class="container">
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>
      Было интересно и сложно работать над этим проектом. Сначала все казалось 
      просто, но постепенно вопросов становилось все больше. Тяжело дались 
      валидация и шаблоны. Очень долго делала персональные страницы 
      пользователя, страницы для записи и редактирования. Очень помогло 
      сообщество нашей когорты.
    </p>
  </article>
</div>
</div>
{% endblock %} 
